version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "golang"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule: 
      interval: monthly
